<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
 Overridable true
 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ns.tibco.com/bw/palette/compress"
            class="com.tibco.bw.compress.palette.compress.model.compress.CompressPackage"/>
   </extension>
   <extension
         point="com.tibco.bw.model.ActivityIcon">
    <activityIcon
            activityTypeID="bw.compress.Zip"
            diagramIcon="icons/obj48/compress_zip_48x48.png"
            largeIcon="icons/obj32/compress_zip_32x32.png"
            smallIcon="icons/obj16/compress_zip_16x16.png">
      </activityIcon>
    <activityIcon
            activityTypeID="bw.compress.Unzip"
            diagramIcon="icons/obj48/compress_unzip_48x48.png"
            largeIcon="icons/obj32/compress_unzip_32x32.png"
            smallIcon="icons/obj16/compress_unzip_16x16.png">
      </activityIcon>
    <activityIcon
            activityTypeID="bw.compress.GZDeflate"
            diagramIcon="icons/obj48/compress_gzdeflate_48x48.png"
            largeIcon="icons/obj32/compress_gzdeflate_32x32.png"
            smallIcon="icons/obj16/compress_gzdeflate_16x16.png">
      </activityIcon>
    <activityIcon
            activityTypeID="bw.compress.GZInflate"
            diagramIcon="icons/obj48/compress_gzinflate_48x48.png"
            largeIcon="icons/obj32/compress_gzinflate_32x32.png"
            smallIcon="icons/obj16/compress_gzinflate_16x16.png">
      </activityIcon>
    <activityIcon
            activityTypeID="bw.compress.Tar"
            diagramIcon="icons/obj48/compress_tar_48x48.png"
            largeIcon="icons/obj32/compress_tar_32x32.png"
            smallIcon="icons/obj16/compress_tar_16x16.png">
      </activityIcon>
    <activityIcon
            activityTypeID="bw.compress.Untar"
            diagramIcon="icons/obj48/compress_untar_48x48.png"
            largeIcon="icons/obj32/compress_untar_32x32.png"
            smallIcon="icons/obj16/compress_untar_16x16.png">
      </activityIcon>
    </extension>
</plugin>
