<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
 Overridable true
 $Id$
-->

<plugin>

   <extension
         point="com.tibco.bw.design.Palette">
      <paletteDrawer
            expanded="false"
            largeIcon="icons/obj32/compress_32x32.png"
            name="%compress.palette.name"
            paletteID="bw.compress"
            priority="500"
            productID="bw.compress.product"
            smallIcon="icons/obj16/compress_16x16.png"
            tooltip="%compress.palette.tooltip">
      </paletteDrawer>
   </extension>
   
   <extension
         point="com.tibco.bw.design.ActivityType">
      <activityType
            activityTypeID="bw.compress.Zip"
            name="%compress.activity.Zip.name"
            type="Standard"
            priority="100"
            tooltip="%compress.activity.Zip.tooltip"
            visible="true">
         <palette
               paletteID="bw.compress">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.compress.Unzip"
            name="%compress.activity.Unzip.name"
            type="Standard"
            priority="100"
            tooltip="%compress.activity.Unzip.tooltip"
            visible="true">
         <palette
               paletteID="bw.compress">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.compress.GZDeflate"
            name="%compress.activity.GZDeflate.name"
            type="Standard"
            priority="100"
            tooltip="%compress.activity.GZDeflate.tooltip"
            visible="true">
         <palette
               paletteID="bw.compress">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.compress.GZInflate"
            name="%compress.activity.GZInflate.name"
            type="Standard"
            priority="100"
            tooltip="%compress.activity.GZInflate.tooltip"
            visible="true">
         <palette
               paletteID="bw.compress">
         </palette>
      </activityType>

      
   </extension>
   
     <extension
         point="com.tibco.bw.design.ActivitySignature">
      <signature
            activityTypeID="bw.compress.Zip"
            signatureClass="com.tibco.bw.compress.palette.compress.design.zip.ZipSignature">
      </signature>
      <signature
            activityTypeID="bw.compress.Unzip"
            signatureClass="com.tibco.bw.compress.palette.compress.design.unzip.UnzipSignature">
      </signature>
      <signature
            activityTypeID="bw.compress.GZDeflate"
            signatureClass="com.tibco.bw.compress.palette.compress.design.gzdeflate.GZDeflateSignature">
      </signature>
      <signature
            activityTypeID="bw.compress.GZInflate"
            signatureClass="com.tibco.bw.compress.palette.compress.design.gzinflate.GZInflateSignature">
      </signature>
   </extension>
   
   <extension
         point="com.tibco.bw.design.ActivityTypeConfigEMF">
      <config
            activityTypeID="bw.compress.Zip"
            eClassName="Zip"
            ePackageNSURI="http://ns.tibco.com/bw/palette/compress"
            instanceName="%compress.activity.default.Zip.name"
            modelHelperClass="com.tibco.bw.compress.palette.compress.design.zip.ZipModelHelper">
      </config>
      <config
            activityTypeID="bw.compress.Unzip"
            eClassName="Unzip"
            ePackageNSURI="http://ns.tibco.com/bw/palette/compress"
            instanceName="%compress.activity.default.Unzip.name"
            modelHelperClass="com.tibco.bw.compress.palette.compress.design.unzip.UnzipModelHelper">
      </config>
      <config
            activityTypeID="bw.compress.GZDeflate"
            eClassName="GZDeflate"
            ePackageNSURI="http://ns.tibco.com/bw/palette/compress"
            instanceName="%compress.activity.default.GZDeflate.name"
            modelHelperClass="com.tibco.bw.compress.palette.compress.design.gzdeflate.GZDeflateModelHelper">
      </config>
      <config
            activityTypeID="bw.compress.GZInflate"
            eClassName="GZInflate"
            ePackageNSURI="http://ns.tibco.com/bw/palette/compress"
            instanceName="%compress.activity.default.GZInflate.name"
            modelHelperClass="com.tibco.bw.compress.palette.compress.design.gzinflate.GZInflateModelHelper">
      </config>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.bw.core.design.process.editor">
      </propertySections>
   </extension>
   
   <extension
         point="com.tibco.bw.design.BWContextHelp">
      <plugin
            defaultURL="http://digilander.libero.it/otacoconvention/archivi/TIBCO_BW6_Compress_plugin/index.html"
            id="bw.compress.product"
            name="BusinessWorks Compress Plugin">
      </plugin>
   </extension>
   
</plugin>
